[2014-09-01 14:54] alexis-via opened #1 "Crash when trying to install report_aeroo on odoo 8.0"
I have an up-to-date odoo from github (branch 8.0) and an up-to-date aeroo_reports from github (master branch) running on Ubuntu 12.04.

Here is the scenario to reproduce the bug:

1) Create a new DB
2) Install the module report_aeroo via the Settings menu. The installation wizard starts : after the first screen of the wizard, I have the following crash:

2014-09-01 14:43:15,755 5688 ERROR erpv80_

[2014-09-01 15:53] alexis-via opened #2 "Cannot install module report_aeroo_sample on v8"
I have an up-to-date odoo from github (branch 8.0) and an up-to-date aeroo_reports from github (master branch)

When I try to install the module report_aeroo_sample, I get the following error:

ParseError: "ValidateError
The value "aeroo" for the field "ir.actions.report.xml.report_type" is not in the selection" while parsing /home/alexis/new_boite/dev/aeroo-80/report_aeroo_sample/report/report_sa

[2014-09-04 19:53] alexis-via opened #3 "report_aeroo v8 crashs the export of translation files"
When I start odoo v8 to export a translation file with report_aeroo installed (up-to-date version, master branch), I get a crash:

$ ./odoo.py -c ../config-80 -d my_database --i18n-export=/tmp/stay.po --modules=stay

Traceback (most recent call last):
  File "./odoo.py", line 162, in <module>
    main()
  File "./odoo.py", line 159, in main
    openerp.cli.main()
  File "/home/openerp/travail8/odo

[2014-10-14 06:08] #2 closed, assigned to sraps

[2014-10-14 06:08] #1 closed, assigned to sraps

[2014-10-14 06:15] sraps opened #5 "PDF conversion not working / report_aeroo_ooo module missing"
At the moment report_aeroo_ooo module is deprecated, and is removed from v8 repository, it is going to be replaced by standalone OpenOffice / LibreOffice conversion server Aeroo DOCS, yet unreleased.

Look for https://github.com/aeroo/aeroo_docs

[2014-10-17 15:11] alexis-via opened #6 "Translated fields are not translated"
I am using the latest report_aeroo from github (last commit = a2f26cf3fa6602ac0962a4e05ccdff7212027d5e, Remove *.pyc and other similar). I am using report_aeroo to create an invoice. At the beginning of the document, I have:

setLang(o.partner_id.lang or 'en_US')

After this instruction, I added for debugging purpose : getLang()

When I ask an invoice for a customer with lang=fr_FR, then getLang()

[2014-10-20 12:23] sraps opened #7 "'setLang' Extra function is not working"
Presence of setLang('en_US') gives following error.

[code]

[2014-10-21 12:22] sraps opened #8 "Parser defined on report form seems not to be workable."
Functions defined from the parser on report's definition form seems not to be workable.

[2014-10-23 21:33] #8 closed, assigned to sraps

[2014-10-23 21:33] #6 closed, assigned to sraps

[2014-10-23 21:42] sraps opened #10 "Original OEM reports view is the same as for Aeroo, which prevents normal work with them"

[2014-10-25 10:10] sraps opened #11 "Report Wizard is not being actually removed from report after uncheck in config"

[2014-10-25 10:12] sraps opened #12 "Number of Copies resets to zero after save of report config"

[2014-10-25 13:21] #10 closed, assigned to sraps

[2014-10-25 14:03] sraps opened #13 "Report Wizard does not work"
After "Print" button pressed, following error:

[code]

[2014-10-25 15:07] #11 closed, assigned to sraps

[2014-10-25 21:48] sraps opened #14 "get_label Extra Function is not functional"

[2014-10-25 22:58] sraps opened #15 "Process Separately does not work"

[2014-10-26 16:32] #13 closed, assigned to nobody

[2014-10-26 16:32] #14 closed, assigned to sraps

[2014-10-26 16:32] #15 closed, assigned to sraps

[2014-10-26 16:35] sraps opened #16 "Standard Report Wizard should write+read last used values into itself instead of report config"

[2014-10-26 22:12] sraps opened #17 "Replace Report does not remove replacement"
[code]

[2014-10-29 17:56] sraps opened #19 "Running Aeroo DOCS config wizard fires error"
2014-10-29 17:34:48,892 31334 ERROR test_29102014 openerp.sql_db: bad query: INSERT INTO "ir_config_parameter" ("id", "key", "value", "create_uid", "write_uid", "create_date", "write_date") VALUES(nextval('ir_config_parameter_id_seq'), 'aeroo.docs_auth_type', NULL, 1, 1, (now() at time zone 'UTC'), (now() at time zone 'UTC')) RETURNING id
Traceback (most recent call last):
  File "/usr/local/lib/p

[2014-11-03 19:36] alexis-via opened #20 "genshi-raw format outputs binary data on v8"
With an up-to-date aeroo_reports module for v8, when I setup an aeroo txt/genshi report with in_format = genshi-raw and out_format = "report_aeroo.report_mimetypes_raw", the report is successfully executed but the output file contains unreadable data.

To make it easy to reproduce the bug, I have developped a simple module that only contains a simple txt/genshi report on product.product. So, to re

[2014-11-03 20:06] #5 closed, assigned to sraps

[2014-11-03 20:07] #17 closed, assigned to sraps

[2014-11-03 20:08] #19 closed, assigned to sraps

[2014-11-04 11:24] alexis-via opened #22 "PDF export in v8 with aeroo_docs"
I managed to output an aeroo report in PDF format with aeroo_docs (GREAT !), but I had to make 2 changes in the code to make it work:

1) The prototype of the convert() method in report_aeroo/docs_client_lib.py is:
def convert(self, data=False, identifier=False, in_mime=False, out_mime=False)
But, when this method is called from report_aeroo/report_aeroo.py inside the method _generate_doc(), it pa

[2014-11-06 13:58] alexis-via opened #23 "Last blank page with multi=True reports"
Aeroo is by far my preferred reporting engine for OpenERP, but there is one thing that I can't manage with aeroo and work well with other reporting engines (such as qweb): the multi=True reports.

In Aeroo, when I want to be able to have one document that contains multiple objects (let's say multiple delivery orders for example), I use the following definition:

[code]

and, inside the ODT templat

[2014-11-11 08:19] #23 closed, assigned to sraps

[2014-11-11 09:51] #22 closed, assigned to nobody

[2014-11-28 21:07] sraps opened #24 "Most odoo record oriented Extra Functions does not work"
Seems like could not get pooler.

[2014-12-03 20:29] alexis-via opened #26 "Cannot install a module with aeroo report with latest commit"
I just update my aeroo master branch with the latest commit made today. But, when I try to install a module that contain an aeroo report (this module could be installed without problem with the code of last week), it crashes:

[code]

If you want to reproduce the crash, you can get my module purchase_dilicom_csv from https://github.com/akretion/dilicom

[2014-12-04 22:57] #24 closed, assigned to sraps

[2014-12-05 07:26] alexis-via opened #27 "8.0 : Require write access on ir.actions.report.xml"
With aeroo v8, when trying to print a report from a regular user, I get this access right error : it tries to write on ir.actions.report.xml but a regular user cannot do that:

[code]

Code analysis:
in report_aeroo.py line 827, you have a while loop, and inside this loop you do:
report_xml.copies -= 1
which, in v8, triggers a write on the object ir.actions.report.xml

So I prepared a PR to fix th

[2014-12-05 14:30] #27 closed, assigned to sraps

[2014-12-05 14:31] #12 closed, assigned to sraps

[2014-12-05 17:49] sraps opened #29 "attachment + attachement_use does not work properly and UI stalls, server raises exception"
When "Reload from Attachment" and "Save as Attachment Prefix" are being used it tries to connect to aeroo_docs service, even if it should not. Fires following exception + UI stalls.

[code]

[2014-12-06 13:18] sraps opened #30 "Aeroo DOCS connection is not being actually tested in configuration wizard"
This functionality have been commented out on in initial port of Aeroo and DOCS implementation.

[2014-12-06 13:30] sraps opened #31 "When requesting multiple copies should take already generated reports, rather than regenerating it for every copy"

[2014-12-06 17:52] #30 closed, assigned to sraps

[2014-12-06 20:25] sraps opened #32 "If set to 1+ copies and attachment name, stores all of the copies along the object"

[2014-12-07 00:11] #16 closed, assigned to sraps

[2015-01-06 09:29] alexis-via commented on #20
I updated my branch of aeroo, so I now have up-to-date code, and the bug is still present. I am still able to make it work with my patch in report_aeroo/report_aeroo.py in the method create_genshi_raw_report():
[code]

[2015-02-05 05:24] colml opened #36 "Wrong path for test_temp.odt in installer.py [report_aeroo]"
The path for test_temp.odt which is used in installer.py is 'report_aeroo_ooo/test_temp.odt'.

It should be 'report_aeroo/test_temp.odt'.

[2015-02-12 04:36] colml commented on #36
This has been fixed.

[2015-02-12 04:36] #36 closed

[2015-02-13 23:08] sraps opened #38 "Sometimes can not convert reports to other format mostly ods->xls, but may happen odt-doc and other as well"
Defect introduced in DocumentConverter

[2015-02-18 22:08] sraps opened #40 "Unknown to Odoo MIME Types"
There are mime-types unknown to Odoo, such as .ods, .csv, .txt. As the result the file upon download is offered only to be saved instead of being open in a single step, which is very inconvenient.

[2015-02-18 22:14] sraps opened #41 "Process Separately does not stitch ODT files quite correctly"
ODT instead of being stitched on page-to-page basis, are stiched end-to-end, which:
* prevents correct printout;
* page numbering is continuous;
* page styles (format and orientation) are are incorrect;
* first paragraph styles are ignored;
* next document is being inserted inside last section of previous document, if the section do not have spare paragraph at the end of report, resulting in neste

[2015-02-19 21:18] #40 closed

[2015-02-19 21:18] #41 closed

[2015-02-19 21:19] #38 closed

[2015-02-22 14:01] sraps opened #43 "Add support for ssl for Aeroo DOCS connections"

[2015-02-23 10:11] alexis-via opened #44 "8.0 report_aeroo_printscreen: state column empty"
Scenario to reproduce the bug on odoo v8:
1) install the module report_aeroo_printscreen
2) go to the list of customer invoices. Check some invoices, then Print > Print Screen. In the ODS file, there is a "State" column, but there are no values in it !
3) go to the list of sale orders. Check some sale orders, Print > Print Screen. In the ODS file, there is a Status column, but there are not values

[2015-03-10 07:17] nicothebrush commented on #3
Hi, got the same error during export translation, seems on obj ir.models and ir.models.fields, ir.cron ir.act.window
I try to "try except pass" the loop but got another error, here 2 pic.:
![aeroo1](https://cloud.githubusercontent.com/assets/703949/6570611/e4301b8e-c6fd-11e4-90c9-25c6e061d5b7.png)

![aeroo2](https://cloud.githubusercontent.com/assets/703949/6570614/ec2fdeb4-c6fd-11e4-82c1-6e39e0cd

[2015-03-13 21:27] mstuttgart opened #45 "'dict' object is not callable"
When I run AerooReports in Odoo v8 in menu *configuration->Configure Docs Connection*, it return the following error:

**'dict' object is not callable**

This error is on [docs_client_lib.py]  (https://github.com/aeroo/aeroo_reports/blob/master/report_aeroo/docs_client_lib.py) file in **branch: 8.0**:

* Line 101
https://github.com/aeroo/aeroo_reports/blob/master/report_aeroo/docs_client_lib.py#L1

[2015-03-13 22:36] mstuttgart commented on #45
I will make a fork and submit the changes.

[2015-03-21 06:48] lukebranch opened #47 "[8.0 / 14.04] My Installation Method + Error: Failure! Connection to DOCS service was not established or convertion to PDF unsuccessful! Details: name '_readFile' is not defined"
Hi @sraps ,

Thanks for all your work on these reporting modules. I've attempted to put together an installation guide that I would like to publish on the help forums for installing Aeroo Reports on Ubuntu 14.04 and Odoo 8.0.

Unfortunately when I get to 30) (ie. the last step) in the guide, I receive the following error through the wizard interface:

Failure! Connection to DOCS service was not es

[2015-03-21 07:16] lukebranch commented on #47
[UPDATE]
After following the recommendations in this issue:

https://github.com/aeroo/aeroo_reports/issues/45

The wizard now gets stuck at the same step (after entering authentication details) with the following error message:

Failure! Connection to DOCS service was not established or convertion to PDF unsuccessful!

Details:
argument of type 'instancemethod' is not iterable

[2015-03-21 07:55] lukebranch commented on #45
@mstuttgart ,

Thanks for your fix, i've implemented it my local instance. I've run into another issue during the Aeroo DOCS configuration wizard as follows:

Failure! Connection to DOCS service was not esatblished or convertion to PDF unsuccessful!

Details:
argument of type 'instancemethod' is not iterable

The steps to reproduce are included in the draft installation guide for Ubuntu 14.04/Odoo

[2015-03-21 12:40] mstuttgart commented on #47
Error: **name '_readFile' is not defined**

I get the same error on Aeroo Docs.
Fix this issue here: https://github.com/aeroo/aeroo_docs/issues/7

[2015-03-23 02:34] lukebranch commented on #47
@mstuttgart ,

Thanks for the fix! I'm going to test your changes on my local dev instance. I'll post back here and let you know how I get on.

[2015-03-31 12:25] diezcode commented on #47
Failure Connection DOCS Error:
File not found: report_aeroo_ooo/test_temp.odt

[2015-03-31 12:29] lukebranch commented on #47
@diezcode ,

I think you're using an older version of Aeroo, or the Jamotion fork. I'd recommend removing the old Aeroo repositories you have and starting fresh.

I put together a (draft) installation method for Aeroo on Ubuntu 14.04. It is not complete yet, but it should give you a good place to start with installing Aeroo:

https://www.odoo.com/forum/help-1/question/solved-8-0-how-can-i-install-

[2015-03-31 12:45] diezcode commented on #47
now I have this error:
Details
Odoo Server Error

[2015-04-01 07:23] lukebranch commented on #47
@sraps ,

I've updated my steps to install on Ubuntu 14.04. Please see the following:

Ubuntu 14.04 Aeroo Reports installation method:
Install Git:

0)      sudo apt-get install git

Install AerooLib:

1)      sudo apt-get install python-setuptools
2)      sudo apt-get install python-genshi python-cairo python-lxml
3)      sudo apt-get install libreoffice-script-provider-python
4)      sudo mkdir

[2015-04-01 07:23] #47 closed

[2015-04-01 09:49] diezcode commented on #47
HTTPConnectionPool(host='localhost', port=8989): Max retries exceeded with url: / (Caused by <class 'socket.error'>: [Errno 111] Connection refused)

[2015-04-01 10:18] lukebranch commented on #47
@diezcode ,

Can you try the following:

telnet localhost 8100

or try starting OpenOffice again:

sudo /etc/init.d/office

I had OpenOffice crash on me when I was doing very large reports (eg. 10,000+ products with images to XLS format).

[2015-04-01 10:29] diezcode commented on #47
same error again when I try to connect with DOCS

[2015-04-01 10:34] sraps commented on #47
@lukebranch

I guess you should separate your report in parts (like product categories), then convert them separately to PDF, after which - merge them into single document. In other words do the report on product category, and turn on process separately.

IMHO office process just runs out of resources - you could test this by creating ODS file without converting it to PDF, then open the file in of

[2015-04-01 10:39] lukebranch opened #51 "[8.0/Master] report_aeroo_direct_print : NameError: global name 'context' is not defined"
I've managed to setup CUPS and have installed my HP CM1415 printer in the Aeroo Reports direct printing configuration wizard.

Using my own ODS (input template format) / XLS (output format) i've created a report for sale.order. The report is stored in the database, and all other settings are default.

When I tick the Report Wizard option I get the following error:

NameError: global name 'context'

[2015-04-01 11:17] lukebranch commented on #47
@sraps ,

Thanks for the tip! I'll try that now.

I'm still trying to understand how to use the Process Separately function. What I would like to do is split off my ODS/XLS by category (for https://github.com/ingadhoc/odoo-addons/tree/8.0/product_catalog_aeroo_report) into different worksheets somehow.

For example, if I have the following Categories:

Category A
Category B
Category C

I'd really

[2015-04-01 12:21] sraps commented on #47
@lukebranch
thanks for good words. You can help spreading the word about Aeroo on social media - Aeroo really needs critical mass of users.

About worksheets - unfortunately, it's impossible Aeroo now works only on first worksheet.

[2015-04-01 14:32] lukebranch commented on #47
@sraps ,

Thank you for your help. I will be putting together some tutorials about getting started with reporting in Aeroo Reports and 8.0 on the help forum at help.odoo.com soon.

I'm going to be putting together some sample reports to get people started as well, i'd be happy to submit PR's for them once they're done if you are open to receiving contributions from the community for basic sample r

[2015-04-01 14:34] lukebranch commented on #47
@diezcode ,

Could you provide me with some steps to reproduce the error from a clean Ubuntu 14.04 installation? It's a bit difficult to help, as I cannot reproduce the error you have mentioned.

[2015-04-02 07:14] diezcode commented on #47
With the normal installation I have no problems. But when I let Odoo run in a docker container I can't use aeroo-docs in that container.

[2015-04-21 12:48] nacho22martin opened #53 "Localization - Synchronize Terms"
When i try to Synchronize Terms on Translations menu it throw the following error:

  File "/opt/odoo/addons/report_aeroo/translate.py", line 171, in extend_trans_generate
    for field_name,field_def in obj._table._columns.items():
AttributeError: 'str' object has no attribute '_columns'

Working on odoo 8

[2015-04-27 12:36] mistotebe opened #54 "License issue"
Hi,
looking over the source, you might be inadvertently infringing on OpenERP's license.

You licensed your code under the GPLv3 (and are aware of the switch from GPLv3 to AGPLv3 and mention it in the copyright header), yet the modules are a derived work based on AGPLv3 code (Odoo v8 new ORM has never been released under GPLv3), which is not something the AGPL permits.

From what I can see, your i

[2015-04-27 13:12] sraps commented on #54
Hello, @mistotebe !

First of all thank you for bringing this again to attention, this problem is long since known with TinyERP -> OpenERP -> Odoo.

There are multiple concerns about licences and the GPLv3 in particular, I will try to clear out only major of them...

* Originally TinyERP was released under GPL licence and neither featured any contribution agreement, nor other similar thing. So all

[2015-04-27 13:57] mistotebe commented on #54
Hi @sraps,
thanks for the response. I agree that what OpenERP did when relicensing the entire repository was not done as it should have been. However there can be no doubt that the new code is covered under AGPL and building on top of that code is enough to make a derived work of that, which has to be licensed under AGPL.

It is possible that if you cannot get the original GPL contributors of code

[2015-04-27 14:26] sraps commented on #54
@mistotebe
`` However there can be no doubt that the new code is covered under AGPL and building on top of that code is enough to make a derived work of that, which has to be licensed under AGPL.
``
1. Again, this is the doubtable that code which is wrongfully re-licensed, is now rightfully under AGPL.
2. Aeroo Reports has been and is being built as a derived work of multiple other works, contribu

[2015-04-27 15:45] mistotebe commented on #54
I'm not accusing you of anything, just concerned for the licensing issues of anyone using the system, since they create risk that is hard to ignore for us (however unlikely it may be that Odoo try and enforce the copyrights). I have also raised some GPL compliance issues with Odoo and try to get improvements everywhere whose code we use just because I think it benefits the community.

If I suggest

[2015-04-27 16:01] sraps commented on #54
Aeroo Reports Library is a fork of Relatorio project, parts of which have been rewritten/rewised to accomplish many technical goals.

Relatorio is being maintained by people behind Tryton project, which is in itself fork of TinyERP and is a competitor and rival of Odoo in many ways. So I am not even asking them to re-license, just because they explicitly requested some parts, they have contributed

[2015-04-27 16:01] #54 closed

[2015-04-30 21:58] alexis-via commented on #3
my PR with the fix has been merged in master.

[2015-04-30 21:58] #3 closed

[2015-04-30 22:06] alexis-via opened #55 "Error when non-unicode char un "name" field of ir.actions.report.xml with parser"
If you define in an XML file an aeroo report with a "name" field that has a non-ASCII character, you will get this error message in the logs when you install the module:
[code]
Example of a file report.xml that fails:
[code]

Code analysis:
The crash happens in report_aeroo/report_xml.py line 124 on:
[code]
the variable mod_name contains "o8_test1_receipt_invoice_style_reçu_style_facture" that has

[2015-05-21 13:00] JosDeGraeve opened #58 "Error when running a report from an odoo view based models"
Some odoo models are based on a postgresql view such as stock.history. ( Stock Value At Date )

this view creates an id column consisting of a concatenation of 2 id's resulting in a string value.

This triggers the error below when you try to run a report on records of this view:

[code]

Regards,
Jos

[2015-05-26 06:29] lukebranch commented on #47
@sraps ,

FYI - i've just completed a working installation script for installing Aeroo Reports for Odoo 8.0 in Ubuntu 14.04 here:

https://github.com/OdooCommunityWidgets/install-scripts/blob/8.0/aeroo_reports/aeroo_install.sh

There's a forum post regarding the installation method and the script here:

https://www.odoo.com/forum/help-1/question/8-0-how-can-i-install-the-official-aeroo-reports-ali

[2015-05-26 06:31] lukebranch commented on #47
@diezcode ,

I'd recommend checking out the script mentioned above. I'm not experienced with docker at this point in time, however I think a good place to look if you're having trouble would be the /etc/aeroo-docs.conf file.

You may need to modify the settings in this file based on your docker setup.

[2015-05-26 06:35] sraps commented on #47
@lukebranch At the moment I can not try out the script.. Could someone review it and then I'll include it in repository.

[2015-05-26 07:19] lukebranch commented on #47
@sraps ,

No problem. It's currently being tested by some community members on the forums as well as in my own instances, however I have asked Andre Schenkels' for his insight and advice on the script in this issue here:

https://github.com/OdooCommunityWidgets/install-scripts/issues/2

Andre has written a number of similar-style scripts that have been widely adopted by the Odoo community, for exa

[2015-05-26 08:04] lukebranch commented on #47
@sraps ,

If it helps, I believe Jay Vora (@JayVora-SerpentCS) from Serpent CS is also aware of the script:

http://www.serpentcs.com/serpentcs-aeroo-report-installation-script-odoo

so hopefully his team can provide some feedback on the script as well.

[2015-06-17 09:56] al7oomed opened #60 "Accounting Reports no member named "form""
WhenI I convert accounting report in odoo to aeroo this error shown.

{'model': u'accounting.report', 'report_type': u'aeroo'} has no member named "form"
For more reference inspect error logs.,<traceback object at 0x7f4e662538c0>

I dont know why data not coming from wizard to my report, ex: data['form']['display_account']

[2015-07-29 08:40] diezcode opened #61 "Aeroo Report EMPTY"
I installed all like this step:
https://www.odoo.com/fr_FR/forum/help-1/question/8-0-how-can-i-install-the-official-aeroo-reports-alistek-for-odoo-version-8-solved-installation-script-76044

My Problem is that the generated PDF is blank. It says an error with the PDF File when I open it with a pdf-programm.

I need help.

[2015-07-29 08:47] lukebranch commented on #61
@diezcode ,

I'm not involved with Aeroo Reports/Alistek directly, but I wrote that script and installation guide, so maybe I can help.

Could you post the report template you've used for creating the PDF? This might help in troubleshooting what's wrong.

[2015-07-29 08:51] diezcode commented on #61
The template is bank. It should print that blank template. but what I get is this :
![unbenannt](https://cloud.githubusercontent.com/assets/7522882/8953534/8a469598-35df-11e5-943c-f4f4da3c5150.PNG)

I have an installation on an other server that it works fine, but I have done that in january. So my problem right now is that the printed pdf is broken or it can't be open.

[2015-07-29 09:20] lukebranch commented on #61
@diezcode ,

Could you run :

sudo tail -f /var/log/odoo/odoo-server.log

in another terminal window and do the process again and see if there are any messages in the logs?

The error message you sent me is showing that there is no connection to aeroo-docs server.

[2015-07-29 09:24] diezcode commented on #61
None
2015-07-29 09:22:39,070 22224 INFO test_diez report_aeroo: End total process report.Rechnung-Template (account.invoice), total elapsed time: 0.187715053558
None
2015-07-29 09:22:39,134 22224 INFO test_diez werkzeug: 127.0.0.1 - - [29/Jul/2015 09:22:39] "POST /web/report HTTP/1.0" 200 -
2015-07-29 09:22:39,863 22224 INFO test_diez werkzeug: 127.0.0.1 - - [29/Jul/2015 09:22:39] "POST /web/datas

[2015-07-29 10:13] diezcode commented on #61
When I make a new installation, with this aeroo Installation steps, it creates the same problem.....

[2015-07-30 09:37] diezcode commented on #61
I tested the same database in another server with the same report_aeroo modul. I have no problem there.

[2015-07-31 01:31] lukebranch commented on #61
@diezcode ,

Have you made any changes to the invoice template? Please explain in detail what you have setup so far to receive that error message.

Are you having trouble printing to XLS, ODS, DOC, etc., or only PDF?

[2015-07-31 11:43] diezcode commented on #61
No I don't have any changes.
I installed all like in the link previouse. I test the same installation later with an older WKHTMLTOPDF Version.
Because I don't know exactly what WKHTMLTOPDF version I used in this installation to get the error message.
In the other system it's the 0.12.1 and everything works fine.

[2015-08-03 07:14] diezcode commented on #61
Ok , I tested this with wkhtmltopdf 0.12.1 , but the same. everytime the pdf is empty. I don't get it....

[2015-08-03 08:00] lukebranch commented on #61
@diezcode ,

This is quite strange. I've got multiple instances of Aeroo running that have been built with that script.

I can try to reproduce it on my end when I have some time, however i'm quite busy at the moment so this could take awhile.

If you've got a dev instance that I can connect to via SSH and the web interface this might be better, as I can sift through logs, etc. to see if I can fin

[2015-08-03 08:03] sraps commented on #61
Hi, @diezcode

could you verify there's all the dependencies met with your installation, and then the versions of modules. WKHTMLTOPDF is not related to Aeroo in any way. In other words it is not used.

BTW. I am having trouble reply to your request from our webpage. Your server says "host XXX.net[XXX] refused to talk to me"...

[2015-08-03 08:13] diezcode commented on #61
on the server that it works:
root 30655 1 0 09:38 ? 00:00:00 python3 /etc/init.d/aeroo-docs restart

on the other server that it doesn't works:

root 5005 1 0 10:02 ? 00:00:00 python3 /opt/aeroo/aeroo_docs/aeroo-docs start -c /etc/init.d/aeroo-docs.conf

[2015-08-07 06:08] diezcode commented on #61
Ok I tested this on an other Server with an other Odoo Installation.
To FIX this issue, just restart the server with
"sudo shutdown -r now"
Then it works! Thanks to all for the help !

[2015-08-07 06:08] #61 closed

[2015-08-07 07:33] lukebranch commented on #61
@diezcode ,

I just wanted to double-check, was this issue due to any issues with the script, or was it just a simple case of running the script and then restarting after it's done?

I'd just like to know if I need to make any revisions.

[2015-08-07 09:00] diezcode commented on #61
@lukebranch
It was that you need to make a server restart, after the script. And then you can connect to aeroo-docs.

[2015-08-07 09:05] lukebranch commented on #61
@diezcode ,

Thanks for letting me know. I've now setup a prompt with a Y/N option to prompt the user to restart the server after the script is done.

Choose yes (y) and the script will run:

sudo shutdown -r now

for you.

I think it'll make it a bit more obvious that it's a requirement to people running the script, as it may have been a bit ambiguous before.

[2015-08-09 06:01] VeeSot commented on #47
May be this http://devdrive.ru/post/What%20is%20wrong%20with%20Aeroo%20Report%20or%20yet%20another%20method%20create%20PDF%20report%20in%20Odoo/ article can help you.It write in Russian,but I think - you understand,because need copy only two code-block an insert their in aeroo script.

[2015-08-09 08:11] lukebranch commented on #47
@VeeSot ,

Thanks for the link, could you explain what you mean about adding it to the Aeroo installation script?

I have tried google translate for the article you posted a link to, but it doesn't make much sense to me.

[2015-08-09 08:39] VeeSot commented on #47
@lukebranch ,
I'm used your script , which you posted in [Odoo.com](https://www.odoo.com/es_ES/forum/help-1/question/8-0-how-can-i-install-the-official-aeroo-reports-alistek-for-odoo-version-8-solved-installation-script-76044) ,but it don't work.I'm tested his on Ubuntu 14.04 LTS and Debian 8.
Because,i wrote article for Russian users from [Oddo Rusia](http://odoo-russia.ru/) with solve this probl

[2015-08-09 08:45] lukebranch commented on #47
@VeeSot ,

What issues did you run into with the script? Did you restart the server after the installation was completed?

There are a number of people who have been using this script without issue recently however if you've run into issues with it personally i'd definitely be interested in hearing about what issues you've run into and how I can revise my script to resolve these issues.

[2015-08-09 13:08] TheCloneMaster commented on #47
Hi,  We use xoe as installation and management script for Odoo.

We used Luke's one successfully to add aeroo reports, by just adjusting a
couple paths. No issues at all!

Regards,
Mario

[2015-08-11 13:05] lukebranch commented on #47
@TheCloneMaster ,

good to hear! Out of curiousity, what paths did you need to adjust and why?

[2015-08-11 13:49] TheCloneMaster commented on #47
Hi,

Basically the path for the addons,  as xoe keeps everything inside of
/home/erp_user/instance_name

By the way,  great job!!
El 11/8/2015 7:05, "Luke Branch" <notifications@github.com> escribió:

[2015-09-27 12:33] a0c opened #62 "Printing multiple items directly to a printer only prints first item"
1) Configure user's default general purpose printer to be e.g. PDF (`sudo apt-get install cups-pdf` + update Direct printing configuration in Odoo).

2) Pick some Aeroo report (AR) with `client_print_multi` set, and set `User's Default Genreral Purpose Printer` as this report's Printer.

3) Finally, select several items and go Print > AR. Out of all selected items only the 1st item is printed to a

[2015-09-29 06:30] sraps commented on #62
Although I have not tested the problem, still  I do not agree to the solution... Either it is not necessary, or it is useless.
Following two lines are just takes the ids from a key in context and then places it back:
[code]

[2015-09-29 06:43] #51 closed

[2015-09-29 07:35] a0c commented on #62
I wouldn't call this solution elegant either, but it works.
`Following two lines are just takes the ids from a key in context and then places it back:`
No, they don't. That's exactly the problem: `ids` and `active_ids` do not match in case of multiple item printing. They only match if you print a single object. If however you select several objects, your `active_ids` would be e.g. [4,5,6,7], the `

[2015-09-29 08:49] mfzoutsource opened #65 "Chinese character becomes empty box"
Hi, I'm facing a problem to display chinese characters in report.

https://github.com/aeroo/aeroo_docs/issues/17

[2015-09-29 08:59] sraps commented on #65
A) If the output format is ODT/ODS, you should verify if the correct font is installed used on the client's computer that open's the document. Server need no font presence in this case.

B) If the output format is PDF, you should verify if the correct font is installed on the server that is converting the document to PDF (where OpenOffice/LibreOffice is installed). Make sure that OO/LO sees that f

[2015-09-29 09:08] sraps commented on #65
You can look at this "enhancement". I have not tested this by myself, so can not tell if it works or not, still  envision one drawback - the documents would take significantly more storage, because of embedded fonts, etc.
https://github.com/aeroo/aeroo_docs/issues/13

[2015-09-29 09:40] mfzoutsource commented on #65
Thanks for your help @sraps, my aeroo report can display chinese and other characters too right now. For now my client just want it display in 'normal PDF', but it is good idea have PDF/A for aeroo report. But I'm not sure that I have time to look for that right now. And maybe one day :)
Thanks again.

[2015-09-29 09:58] sraps commented on #62
Thank you. I meant that, 'ids' would never be taken unless there is no key 'active_ids' at all. Even the 'active_ids' key is None or empty list, or anything else "type-casted" to boolean False, the value of the key would be taken, even there is something valuable in 'ids'.

[2015-09-29 09:59] #65 closed, assigned to nobody

[2015-10-26 08:44] a0c opened #68 "client_print_multi report disregards groups access limitation when printed directly to printer"
Access to a print report can be limited to certain groups using **groups_id** like this:

[code]

However, once you redirect this report to a printer using _report_aeroo_direct_print_ module, report becomes visible to all users (incl. Portal) as _Print_ > _Label_ , thus effectively disregarding **groups_id** field.
#### Expected behavior

Report should be, both, printed directly to printer and be

[2015-12-07 11:05] alexis-via commented on #26
This bug has been fixed long ago, let's close it !

[2015-12-07 11:05] #26 closed

[2015-12-07 17:32] alexis-via opened #73 "8.0 Wrong lang when using aeroo for account_credit_control"
I use Odoo v8.

I want to use the OCA module account_credit_control (https://github.com/OCA/account-financial-tools/tree/8.0/account_credit_control) with my prefered reporting engine (aeroo). This module has a report based on the object credit.control.communication (TransientModel) developped in Qweb. So I replaced this Qweb report by an Aeroo report with the following XML code:

[code]

My ODT fi

[2015-12-08 08:16] sraps commented on #73
Hi, Alexis!

It's quite interesting bug. Upon porting Aeroo to v8 I had to change part that relates to setting language, due to changes in Odoo architecture. I do not know how it is now, but at the time original reports never were able to print multi language reports. Probably they have changed something ever since, have not checked by myself...

[2015-12-08 08:22] JosDeGraeve opened #74 "ProgrammingError: can't adapt type 'ir.actions.report.xml'"
Hi,

This is imho not an aeroo issue, but i'm logging it here for other's reference.

When using a "print button", ie a button that triggers a method, returning an aeroo print action, triggers the error "can't adapt type 'ir.actions.report.xml'"

I have traced back the error to this PR: https://github.com/odoo/odoo/pull/9951

The root cause is that a recordset instead of an ids array is being pass

[2015-12-08 08:39] alexis-via commented on #73
@sraps Thanks for your answer. Could you tell me in which part of the code of Odoo and/or Aeroo those changes are located ? I would like to help fix this issue if I can.... but I don't know where to start searching in the code.

[2015-12-08 08:43] JosDeGraeve commented on #74
This is the fix for v9 community: https://github.com/odoo/odoo/pull/9962

[2015-12-08 09:07] sraps commented on #73
Would not tell, too long ago. Just developed a workaround, that's all.

[2015-12-19 03:38] lukebranch commented on #74
@JosDeGraeve ,

Thanks for the fix. I found this one before I came across yours:

https://github.com/odoo/odoo/pull/10080/files

and the PR seems to have been accepted to the 8.0 branch for Odoo. I'm using the same change (in 10080) in Odoo 9.0 and it resolves the Aeroo reports issue.

Hopefully Odoo will merge the fix into 9.0 soon.

[2015-12-19 09:07] #74 closed, assigned to nobody

[2016-01-04 16:54] alexis-via opened #76 "crash when using include_subreport()"
On odoo v8 with aeroo_reports master branch, when you try to print an aeroo report that use an include_subreport directive, you get a crash:

[code]

[2016-01-14 04:06] azeemism opened #77 "could not get content for /base/static/src/css/modules.css defined in bundle 'web.assets_backend'"
https://github.com/OCA/OCB latest
Debian 8 latest

Added aeroo_reports module (latest) from branch 8.0 or master displays the error listed in the title upon login. After login the screen view is cut and site navigation is not practical.

![2016-01-13 19_50_56-odoo](https://cloud.githubusercontent.com/assets/10731034/12315435/aa97c2ca-ba2f-11e5-829d-ca725667cc3c.png)

![2016-01-13 19_51_15-customer

[2016-01-14 04:14] lukebranch commented on #77
@azeemism ,

It looks like the odoo module cannot connect to the aeroolib library. Did you notice any error messages during the install process?

Alternatively can you try with a clean VPS and note any error messages you see during the installation process?

I have not yet tested with Debian 8 and the script has only been tested on Ubuntu 14.04. I'd be happy to troubleshoot with you and update the

[2016-01-14 04:58] azeemism commented on #77
@lukebranch, wow that was a quick response! I was just going to add that I did not use
`sudo apt-get install python-setuptools python3-pip`

Because for some reason I was having difficulty installing with the following:
`sudo pip3 install jsonrpc2 daemonize`

So I installed pip2, pip3 using,
`wget https://bootstrap.pypa.io/get-pip.py`
`sudo python get-pip.py`
`sudo python3 get-pip.py`
`sudo pip3.4

[2016-01-14 06:02] azeemism commented on #77
Okay some progress made. Looks like even though I have `setuptools` installed through `pip`, I most likely needed to also install `python-setuptools` though apt as the script suggests:
`sudo apt-get install python-setuptools`

I then ran,
`cd /opt/aeroo/aeroolib`
`sudo python setup.py install`

I am now able to login and install most of the aeroo modules except for `Aeroo Reports - Direct printing

[2016-01-14 06:08] lukebranch commented on #77
@azeemism ,

Sorry, was in a meeting. Did you manage to receive a success message when you installed the report_aeroo module?

Regarding direct print, have you installed cups and do you have a printer connected directly to the server and have CUPS configured?

If you don't require printing to a printer directly from the Odoo interface (eg. Sales Order > Print Dropdown in Odoo > Print document dire

[2016-01-26 23:15] alexis-via opened #78 "[8.0] numeric fields in ODS report"
While I was developping an ODS aeroo report for intrastat (cf my module l10n_fr_intrastat_product_ods available on https://github.com/akretion/odoo-usability/tree/8.0/l10n_fr_intrastat_product_ods), I was confronted to the following problem : I didn't find a way to include the float/integer fields as a Numeric fields in the ODS file ; it is always considered as a text field (which prevents sum, fo

[2016-01-27 11:07] sraps commented on #78
This is not a bug in aeroo_reports odoo module, please consult this issue instead:
https://github.com/aeroo/aeroolib/issues/7

[2016-01-27 11:07] #78 closed, assigned to nobody

[2016-01-27 17:26] jjscarafia commented on #78
@alexis-via I've achive this using openoffice (openoffice4 in my case) instead of libreoffice to edit and save the files. Don't know why the difference but it works

[2016-01-28 21:52] alexis-via commented on #78
@jjscarafia interesting remark ! I do use libreoffice ; I don't use openoffice (only libreoffice is packaged on Ubuntu)

[2016-01-29 10:17] sraps commented on #78
@alexis-via @jjscarafia This is what I think, because Libreoffice uses experimental attribute, that seems not be used by OpenOffice.

[2016-02-04 09:04] yuriqp commented on #61
I had the exact same weird problem. I didn't use the script but I followed similar steps. Surprisingly, at least for me, restarting with "shutdown -r now" also solved my problem!!

[2016-02-17 08:25] diezcode commented on #61
Information:
An other problem can be, if you have an Ubuntu Firewall and that the port 8989 is not open for localhost for odoo to connect to aeroo-docs.

[2016-03-11 15:21] #45 closed

[2016-05-02 06:52] diezcode opened #85 "How to set sale.order <o.name> on all sites?"
How can I set the <o.name> (number of sale.order) in all sites?
that this number is showing at all site I print?

Is this possible?

[2016-05-02 08:32] sraps commented on #85
What do you mean by "all sites"?

[2016-05-02 09:56] diezcode commented on #85
sorry I found a way. I mean to see the number on all sites if the sale.order has more then 1 site.

[2016-05-02 09:56] #85 closed, assigned to nobody

[2016-05-02 12:22] alaa9jo opened #86 "Odoo v9"
Odoo 9 has been out for a while, are there any plans for porting these reports to odoo 9?

[2016-05-02 12:43] RaffaeleT commented on #86
not an answer, but a hint: https://www.odoo.com/forum/help-1/question/aeroo-report-modul-already-in-v9-95273

[2016-05-04 03:49] lukebranch opened #87 "[8.0/9.0/Master] Parametric Link / Hyperlink for Images in Reports"
@sraps ,

Sorry to bother you, I know you're very busy. I'd just like to ask if you knew whether there was any way to add a hyperlink to an image in Aeroo Reports (eg. ODS reports with an image).

I have a need to add a product image into a report and then make that image clickable to link back to a product page or similar on my website, and i'm wondering if there was any way to do this with Aeroo

[2016-05-06 17:03] sraps commented on #87
It is possible since, I do not know, some three or more years. Unfortunately undocumented, due to lack of funds.

You have to insert image as you would ordinarily do by using frame object in ODT (sorry, have not tested with ODS by myself). Additionally fill in URL field in Hyperlink tab.
For example:
python://"http://www.alistek.com/"+gen_some_token(objects[0])

You will end up with clickable imag

[2016-05-07 02:10] lukebranch commented on #87
@sraps ,

That's awesome news, thank you for your help.

Regarding funds, do you have any mechanism setup (eg. like a paypal account) for people to contribute to the project?

I personally don't think the crowdfunding method works very well for odoo, however having a way to be able to contribute to the Aeroo Reports project financially (ie. similar to how libreoffice allows people to contribute vi

[2016-05-07 02:10] #87 closed, assigned to nobody

[2016-05-07 02:28] lukebranch commented on #87
FWIW, for anyone else needing this for ODS/Spreadsheets, it works in the same way as .doc, just open the hyperlink field in the template spreadsheet and add:

python://(replace with your object here)

for example I used the product manufacturer module here:

https://github.com/OCA/product-attribute/tree/9.0/product_manufacturer

and was just able to link to the URL field generated by this module b

[2016-05-09 07:13] sraps opened #88 "Aeroo Reports project funding for documentation and further development"
As it was off-topic for the issue https://github.com/aeroo/aeroo_reports/issues/87#issuecomment-217599877 , where this discussion started, I opened this new issue...
Quoting @lukebranch

[2016-05-09 08:49] lukebranch commented on #88
@sraps ,

Brilliant! Thanks for considering my suggestion.

In terms of documentation submissions if you're happy to provide a basic outline of what you'd like the documentation to include (both functional and developer), i'd be happy to start submitting small contributions to this in the way of PR's for you to review, and i'm sure others would gladly contribute to this project as well, to serve a

[2016-05-09 08:52] sraps commented on #88
As you would notice for some time Aeroo Reports is not in active development. This is due to several reasons, including that Aeroo Reports exhausted most features that either are indispensable or easy implemented and hence needs no substantial time investment. It does not mean that there is no room for improvement and further development, and of course decent maintenance - better documentation, ti

[2016-05-09 09:19] sraps commented on #88
Thank you, @lukebranch!

Our website is kind of frankenstein, fixed together various software packages. I will take a look what it takes to make it possible contributing to the documentation.

[2016-05-09 09:28] sraps commented on #88
So here it goes, Keep/Drop old API poll, clearly ruled to drop the old API in Odoo v10.

So it will need substantial effort to continue porting Aeroo Reports to new API. Although Aeroo were one of the first modules started to move towards new API, it was clear the one is green at the moment. So I decided not to raise further funds for the task, now I will have to port. Unless SA do not decide to k

[2016-05-09 10:06] mtelahun commented on #88
We use Aeroo reports in our projects; and while we cannot directly contribute money (for various reasons) we would be very interested and happy to contribute development time.  I am sure there are many others like us.  One possible solution would be for Alistek to create a To Do list of what needs to be done and others in the community can chip in with the development. Aeroo reports is just the ty

[2016-05-09 10:10] sraps commented on #88
Thank you, @mtelahun!

This is +1 for solution that keeps surviving the project. Not surviving the project+team. This is something like OCA does, by federating volunteer job.

If this topic will be interesting and attract some interest, I will assemble some chart or something out of these funding options. What helps to address a particular problem.

[2016-05-09 11:54] JosDeGraeve commented on #88
Hi,

I'm also an aeroo reports user, we use Aeroo reports for a lot of customer projects at Apertoso. I for one would prefer contributing in time rather than money.  Even when contributing time is less efficient for us, because hourly rates are quite high in our country, there are  substantial advantages to just contributing money.  When contributing time, there is a very valuable transfer of know

[2016-05-09 12:14] sraps commented on #88
Yes, I can not disagree to @JosDeGraeve, it's good for a running project, that nobody cares for and somebody just invested before. For a contributor it's something like having a free mentoring. But that does not help original developer. We used to contribute many thousands of lines of code per year in various projects, both Alistek OEM and to other's, without any return. But it could not continue

[2016-05-09 12:36] sraps commented on #88
@JosDeGraeve to add to https://github.com/OCA/reporting-engine/issues/1

As somebody may recall, I even proposed that OCA could take over the project and provide funding for further development. That was not the case, OCA at it's best offered a function of coordinating volunteer work. (!?)

The discussion were about OCA taking over Aeroo, like fully developed module I would be glad and willing any

[2016-05-09 15:49] sbidoul commented on #88
@sraps we are also recent users of Aeroo at Acsone. We are quite happy about it, and provided several PR's already.

I'm convinced we need to unite efforts around one such system to produce editable reports with Odoo.

I understand your concerns about funding and maintenance of open source projects in general. This is not easy, and perhaps even more difficult in the Odoo world. That said, I believ

[2016-05-10 05:21] yostashiro commented on #88
Would be nice to see Aeroo under OCA.  I'd like to chip in if there is a fundraising campaign.

[2016-05-10 10:13] dreispt commented on #88
OCA is a platform for integrators, to cooperate and share the maintenance burden of infrastructure code. Of course integrators would be happy to have Aeroo under it's umbrella, adding it to the shared infrastructure library.

But that's not the point for @sraps : he would to keep the "ownership" of Aeroo maintenance while having some decent compensation for doing it. That expectation rules out OCA

[2016-05-16 09:37] sraps commented on #88
@dreispt
I really appreciate your input on this topic. Mostly agree on points you are stating...

In essence, we've tried almost everything, and evaluated every option out of mentioned. Some of them left untried in practice due to the fact, that there is not enough popularity in numbers for the odoo itself, so for some related technology there would be even less. By numbers I mean number of video

[2016-05-16 12:20] dreispt commented on #88
That post discusses a related, but different issue from the one discussed here. Both are interesting.

This discussion is "I want to maintain a piece of FLOSS, and want to be decently compensated for it; what business model should I use?".
The other discussion is "I created a piece of FLOSS at some point in time, because I had the time, enjoyed doing it, and was good for my professional enrichment

[2016-05-16 14:46] sraps commented on #88
@dreispt and others
Probably the connection between current topic and the one told by the article is not obvious, though for me this essentially drills down to the same point. Eventually, it does not matter how it all begun. Whether it was like with Aeroo, a team with vision of better reporting option, or freelancer with lot of spare time.

IMHO, many projects would not be slowed down, abandoned o

[2016-08-25 08:15] chesty opened #91 "osv needs to be imported in report_aeroo_direct_print.py"
[code]

[2016-08-30 08:03] diezcode opened #93 "if and statement"
how to make an
<if test=""> with and,
if this and that .
???

[2016-12-15 23:04] a0c commented on #78
@alexis-via @sraps
I'm sorry for the OT, but how do you express formulas then?

E.g. the simplest example:
=SUM(O10:O13)

The number of rows varies, so how do you set the range to sum?
Hyperlinks (if upon "10" and "13") seem to be stripped from the formula on saving the file.

SUM is just an example, of course, there are aeroo-specific ways to sum numbers up.
But in general: how do you pass varyin

[2017-01-19 10:17] sraps opened #94 "Can not generate Aeroo Print Screen reports (Printscreen List)"
Aeroo Reports: Error while generating the report.
calcext
'calcext'
For more reference inspect error logs.

<type 'exceptions.Exception'>,Aeroo Reports: Error while generating the report.
calcext
'calcext'
For more reference inspect error logs.,<traceback object at 0x7fd06a578170>

[2017-01-19 10:33] sraps commented on #94
This is actually a bug with aeroolib. Fired on ods files created on older versions of LibreOffice/OpenOffice, that does not include "calcext" attribute in ods files.

[2017-02-08 18:10] ghost opened #95 "Aeroo Reports for V10"
Any WIP to migrate to V10? We are interested. Who am I to speak with?

Thanks in advance.

[2017-02-09 01:43] lukebranch commented on #95
@carlosmaguda ,

I'd suggest speaking with @sraps about this.

[2017-02-09 10:37] JosDeGraeve commented on #95
There is some work being done on an alternative reporting engine: report_p3o
https://github.com/OCA/reporting-engine/pull/78

It's a complete new reporting engine, also starting from ODF templates, but It's in a very early stage currently.

If you really want to have a 10.0 port of aeroo, talk to @sraps about starting a crowd funding ?  But first read #88 !

[2017-02-09 12:13] ghost commented on #95
@JosDeGraeve Thanks very much. It's a great idea the crowd funding, but since I'm in a hurry I'll pay for the whole job and share it here.

@sraps Can you give me your contact info? We just need to discuss the terms. I need this done in 4 months.

[2017-02-09 13:06] sraps commented on #95
As I read, there is interest in Aeroo again. Which in essence is nice. I was talking about this funding problem several times, because there is no mechanism for this, at the moment. Frankly speaking, I was hoping at OCA infancy,  that OCA would bring such solution, instead it brought just organization to federate free work (free as in free beer).

My stance on this is simple, I think that it's too

[2017-02-24 17:22] sraps commented on #78
@a0c
Actually, you don't, this is a shortcoming for OO/LO Calc as such. There is no option to put, let's say whole column in formula. In this matter Excel is better. The other reason is that even if you would, Aeroo does not process cell's contents after generating them. Why? Just because it's too complicated, and it would take too much effort to implement and would be too slow. Ok, one would like

[2017-03-07 05:27] iamyeonhan opened #96 "osv needs to be imported in report_aeroo_direct_print.py"
This issue is already reported but not merge in the master branch.

    def refresh(self, cr, uid, ids, context={}):
        conn = cups.Connection()
        printers = conn.getPrinters()
        for r in self.browse(cr, uid, ids, context=context):
            data = printers.get(r.code)
            if not data:
                **raise osv.except_osv(_('Error!'), _('Printer "%s" not found!') % r.c

[2017-03-15 17:32] scigghia opened #97 "[8.0] Printing multiple objects in one single pdf"
I've migrated some aeroo reports from 6.1 to 8.0, everything is ok but i'm unable to print multiple objects.
my reports has process_separately = true, but only first object is showed in report.

maybe i've to change the parser init?

`class Parser(rml_parse):

    def __init__(self, cr, uid, name, context):
        super(Parser, self).__init__(cr, uid, name, context)
        self.localcontext.upda

[2017-03-15 18:51] scigghia commented on #97
update aeroo-docs, now multiple object is working in pdf

[2017-03-15 18:51] #97 closed, assigned to nobody

[2017-06-22 09:40] diezcode opened #99 "Aeroo reports for Odoo10?"
Is anyone upgrading aeroo reports for odoo10?

[2017-06-22 11:35] JosDeGraeve commented on #99
You might want check issue #95 which has almost the same subject.

[2017-06-23 06:30] #99 closed, assigned to nobody

[2017-11-23 11:59] Sarfarazsajjad opened #102 "Update Module list stops responding when module files added to module folder"
I am using latest docker container of odoo and when I add aeroo_reports module folders to the module folder then go to odoo and update module list the dialogue does not dismiss and nothing else happens

[2017-11-23 13:16] sraps commented on #102
What is the version of odoo?

[2017-11-24 18:05] Sarfarazsajjad commented on #102
odoo version 8

[2018-02-09 15:27] jjscarafia commented on #76
Hi @alexis-via , have you been able to solve this issue? I'm facing same problem, it still displays "<insert_doc.."

Thanks!

[2018-02-09 17:32] alexis-via commented on #76
I don't think so...
You could try to open a new bug report there: https://github.com/aeroo-community/aeroo_reports

[2018-02-10 13:24] sraps commented on #76
@jjscarafia Make sure you have connection to OO service.

[2018-02-10 13:59] jjscarafia commented on #76
Hi! Thanks you both!
@sraps what do yo mean? How can I test it? aeroo-docs is working on a docker container, pdf conversion is working. Soffice is being launched with headless mode.
This is the docker image: https://github.com/ingadhoc/docker-aeroo-docs/blob/master/supervisord.conf

Another thing, any plan to migrate to v11? We would like to invest on it.

Thanks!

[2018-02-10 14:42] sraps commented on #76
This usually happens when soffice is not running and something went wrong in aeroo, so that it does not know that soffice is not there anymore. Still if you say that there is nothing wrong with soffice... At the moment have no idea about what's wrong.

What concerns migrating to odoo v11, I am nothing against that. The only obstacle is funding. If some interesting parties would agree to donate fun

[2018-02-10 15:13] sraps commented on #76
@jjscarafia Are you using aeroo_docs? If you're, the I have to bad news, it does not support sub-reports.

[2018-02-11 13:55] jjscarafia commented on #76
@sraps yes, using aeroo_docs :(
I will write to you to see if we can collaborate on migration.

[2018-02-27 17:15] jjscarafia opened #103 "Migration of aeroo to v11"
For anyone following this repository, please consider contributing to [this campaign](https://www.indiegogo.com/projects/porting-aeroo-reports-for-odoo-v11-software) to migrate aeroo reports to v11.
Perhaps as a contribution related to how aeroo has already helped or perhaps because you will need it on the future.
Thanks!

[2018-02-27 23:45] lukebranch commented on #103
great news! I'll definitely contribute to this asap.

[2018-03-16 04:01] vsnetvn opened #104 "report_aeroo: Aeroo DOCS related error!"
I have a problem when exporting report xls from odoo but aeroo-docs error

Install aroo_report with odo 8 on ubuntu 14.04

$ service aeroo-docs start
Starting Aeroo DOCS process...
Unable to lock on the pidfile.

Test config success
Success! Connection to the DOCS service was successfully established and PDF convertion is working.

Is there any idea how to fix it?
Thank you so much

[2018-03-16 07:17] sraps commented on #104
It is most likely that you have 2 aeroo_docs processes running.

[2018-03-16 07:59] vsnetvn commented on #104
no it's only processes run

[2018-03-16 08:17] sraps commented on #104
Could you check access rights for the user running the aeroo_docs process on the file pidfile or the folder.

[2018-03-16 10:36] vsnetvn commented on #104
Obstructive So I reinstalled the server ok

[2018-03-17 07:55] sraps commented on #104
So is the problem gone?

[2018-04-06 07:19] #104 closed, assigned to nobody

[2018-04-13 10:38] marianoadangelo opened #105 "[Errno 5] Input/output error"
I've a server with odoo running, all was working ok but some days back aeroo reports stop working, odoo make the pdf file, but corrupt.

When I go to the config and try to connect to aerro report it says

    Failure! Connection to DOCS service was not established or convertion to PDF unsuccessful!
    [Errno 5] Input/output error

But docs is running ok. If I stop odoo, and restart it without reb

[2018-04-14 09:03] sraps commented on #105
Is the DOCS server running on separate machine?

[2018-04-14 09:16] sraps commented on #105
2018-04-13 10:18:15,293 6411 INFO elfaro requests.packages.urllib3.connectionpool: Starting new HTTP connection (1): localhost

Oh, I see it is localhost

[2018-04-14 09:46] sraps commented on #105
If we're looking around the code of httplib.py at line 781 (presumably a bit different version of httplib, because your setup states line 846), it has something to do with the debug. Which in turn, most likely, does not have correct standard output to do a print somewhere, so it does produce IO error.
https://github.com/enthought/Python-2.7.3/blob/master/Lib/httplib.py#L781

I am not familiar what

[2018-04-14 13:32] marianoadangelo commented on #105
could debug the moment when the report fails

[code]
after the broken pipe error, it stay down until I restart odoo and configure again aeroo report from config menu. If I try yo re-config odoo without restart i get the IOError: [Errno 5] Input/output error

[2018-04-14 14:09] sraps commented on #105
That error is unrelated to the cause. Somehow it can not print debug info to the standard output. First of all it could happen when Odoo is in debug mode, set in Odoo configuration. Ok, probably it is possible to tweak the Aeroo DOCS code by setting debug parameter to False. But that is awkward.

IMHO this error would not fire in Odoo with debug mode switched on, and command line interactive mode.

[2018-04-14 20:58] marianoadangelo commented on #105
you advice me to change my httplib version to the one you pointed?
I dont know how to fix this...

[2018-04-15 07:18] sraps commented on #105
Although, it is always best to start with, still I do not think it will make the difference. Check if you have the debug mode enabled in Odoo configuration. If yes, disable it and test the result.

[2018-04-15 15:39] marianoadangelo commented on #105
Debug mode is off in odoo config.
I increase PostgreSQL workers and set odoo logrotate to true, and log level
to warn.

I think postgres reject the connection and them crash aeroo report. It has
been working for 16 hs.

El dom., 15 de abr. de 2018 4:18 AM, sraps <notifications@github.com>
escribió:

[2018-04-15 15:44] sraps commented on #105
Might be. Meanwhile I am closing this issue, feel free to reopen it...

[2018-04-15 15:44] #105 closed, assigned to nobody

[2018-06-18 02:18] vsnetvn opened #113 "Install aeroolib on ubuntu 16.04"
Hi

I'm install aeroolib on ubuntu 16.04 but but its but it was upgraded, Please help me

`sudo git clone https://github.com/aeroo/aeroolib.git`

[code]
Thanks to see

[2018-06-19 10:40] #113 closed, assigned to nobody

[2018-06-20 17:49] JuaniFreedoo commented on #103
Great !!! I will also contribute to the migration

[2018-06-20 17:54] sraps commented on #103
@JuaniAizean Thanks! Every bit helps.

[2018-06-20 20:22] JuaniFreedoo commented on #103
@sraps thanks, I changed my username

[2018-06-20 22:14] JuaniFreedoo commented on #103
Hi @sraps @jjscarafia , I just tried to install the aeroo reports module for v11 and I had to make the following modifications to install it and it works:

1.- Delete parser_state and parser_def in ir_model.py in def _add_manual_models

2.- Change the action in report_view.xml

I have the code in my repository

[2018-06-21 11:43] CasVissers-360ERP commented on #103
I tested the module, the changes in the XML of @FreeDoo2018 are necessary. The parser_state  issue is because parser_state is defined before it is created. Hence the module won't do a clean install.

I get this error though:
  File "/odoo/customer/community/report_aeroo/controllers/main.py", line 58, in report_routes
    ('Content-Length', len(rset[0]))
TypeError: object of type 'bool' has no len(

[2018-06-21 12:31] CasVissers-360ERP commented on #103
File "/odoo/customer/community/report_aeroo/models/report.py", line 343, in write
    parser._build_model(rec.pool, rec.env.cr)
UnboundLocalError: local variable 'parser' referenced before assignment

[2018-06-21 14:40] JuaniFreedoo commented on #103
Thanks @CasVissers My PR is available for revision

[2018-06-25 06:36] JuaniFreedoo commented on #103
I need to review the changes well, I see errors in the installation

[2018-06-25 07:08] JuaniFreedoo commented on #103
@CasVissers @sraps @jjscarafia I have corrected my PR, the changes in python were not necessary

[2018-06-25 10:04] jjscarafia commented on #103
Great! I've answered on the PR (https://github.com/aeroo/aeroo_reports/pull/114). Thanks!

[2018-06-25 11:43] CasVissers-360ERP commented on #103
Lots of improvements ! :)  New feedback in #115

[2018-06-25 13:51] JuaniFreedoo commented on #103
Thanks @jjscarafia @CasVissers I will perform tests and I will give you my feedback

[2018-10-28 16:00] ngdangtruong opened #118 "Js and Service"
I dont know what happened, please help me.
Case 1: I fail in connect  to DOCS service. But i still find out the value aeroo report in filed 'report_type' in model ir.actions.report. I create template so easy and no problem in printing report. But in log i saw "File "/usr/lib/python3/dist-packages/requests/adapters.py", line 508, in send
    raise ConnectionError(e, request=request)
requests.except

[2018-10-28 17:02] ngdangtruong commented on #118
update: oh i remove module web_enterprise to resolve bug JS, but i want to fix code to use web_enterprise and aeroo, plz help me

[2018-10-31 14:33] jjscarafia commented on #118
if you want check ingadhoc/aeroo_reports where we have play a little with the js and should be fixed. If it works for you, let us know and we can make the PR

[2019-01-23 03:17] quangdangfit opened #119 "How to generate barcode in Aeroo Reports and Libreoffice (Odoo 11)?"
Hi all,

I installed successfully aeroo reports for Odoo 11. Now I want to generate barcode for my report using Libreoffice. I tried add 'Input Field' **"image: barcode(o.name,'code128')"** but it is not work. How to generate barcode in Aeroo Reports using Libreoffice?

Thanks.

[2019-02-12 07:51] ngdangtruong opened #120 "aeroo report availabe for odoo 12 ?"
I hear no body ask aeroo report for odoo 12
But i try to install it and i can not
[code]

[2019-03-04 10:50] sraps opened #121 "Tries to connect to DOCS although no connection configured"

[2019-03-16 15:00] digitalliuzg opened #123 "ValueError for v12"
\odoo\odoo\fields.py", line 1958, in convert_to_cache
    raise ValueError("Wrong value for %s: %r" % (self, value))
ValueError: Wrong value for ir.actions.report.in_format: 'oo-odt'

[2019-03-17 17:21] sraps commented on #123
This is already addressed in my alpha. Though not stable enough to release.

[2019-03-17 17:26] sraps commented on #120
Aeroo reports will be ported and released for Odoo v12. I am working on that.

[2019-10-10 21:17] dupski commented on #120
I see the "unworkable" text thats been added to the readme. Are there some fundamental issues that are preventing Aeroo from working with v12? or is it just a case of finishing the port?

Keen to help if I can as we'd like to move some old v7 customers to v12 :)

[2019-10-11 22:29] dupski commented on #120
Just to update for others that find this ticket. There is a fork of Aeroo that seems to work on Odoo 12 already:
https://github.com/ingadhoc/aeroo_reports

But it appears that many folks are now using "py3o" which is supported by the Odoo Community Association:
https://github.com/OCA/reporting-engine/tree/12.0/report_py3o
https://apps.odoo.com/apps/modules/browse?search=py3o

Props to @sraps and t

[2019-11-04 08:24] diezcode commented on #120
@dupski This fork isn't working on odoo12 enterprise. I tested it today.
There is still some work to do for v12.
But thx

[2019-12-07 17:59] lbertran opened #124 "Aeroo-docs installation - No module named 'uno'"
Hi,

I am installing odoo 11 on Debian 9 (bitnami). I will use modules for Argentina and the requirements are Aeroo-reports.

Now update apt-get and install python3-uno and unoconv.

Running

sudo python3 / opt / aeroo / aeroo_docs / aeroo-docs start -c /etc/aeroo-docs.conf

I get the following error:

Traceback (most recent call last):
  File "/ opt / aeroo / aeroo_docs / aeroo-docs", line 42, in

[2019-12-07 19:24] sraps commented on #124
Hi,unoconv is definitely not needed. That is for sure, neither aeroo nor aeroo-docs use it.Something strange with "import uno" it should be "uno" instead of "one".You can test if python3 uno module is installed correctly by running import uno in python3 interactive console.Check your environment, maybe.BR,Kaspars2019. gada 7. dec. 19:59, lbertran <notifications@github.com> rakstīja:Hi,
I am instal

[2019-12-08 13:49] lbertran commented on #124
Thanks for answering. It's UNO, "one" was a translation error.

As you can see I try to install UNO and the message is that it is already installed. Then I run import UNO and the message is that the module does not exist

[code]

then I ran `pip3 install uno` successfully.

I run again `yes | sudo python3 /opt/aeroo/aeroo_docs/aeroo-docs start -c /etc/aeroo-docs.conf `and the error is `ModuleNotFo

[2019-12-08 14:22] sraps commented on #124
Hi,Please check:# pip3 -V# python3 -VBr,Kaspars2019. gada 8. dec. 15:49, lbertran <notifications@github.com> rakstīja:Thanks for answering. It's UNO, "one" was a translation error.
As you can see I try to install UNO and the message is that it is already installed. Then I run import UNO and the message is that the module does not exist
bitnami@debian:~$ sudo apt-get install python3-uno
Reading pac

[2019-12-08 14:39] sraps commented on #124
Please do run without python3 in front of executable. Try just # aeroo-docs start2019. gada 8. dec. 15:49, lbertran <notifications@github.com> rakstīja:Thanks for answering. It's UNO, "one" was a translation error.
As you can see I try to install UNO and the message is that it is already installed. Then I run import UNO and the message is that the module does not exist
bitnami@debian:~$ sudo apt-g

[2019-12-08 15:05] lbertran commented on #124
Versions:

`bitnami@debian:~$ pip3 -V`
`pip 19.0.3 from /opt/bitnami/python/lib/python3.7/site-packages/pip (python 3.7)`
`bitnami@debian:~$ python3 -V`
`Python 3.7.4`

Just aeroo-docs start
[code]

[2019-12-13 17:59] lbertran commented on #124
Hi @sraps

Could you advance on this issue? thank you very much

[2019-12-13 18:37] sraps commented on #124
Ok, it seems you have not received my last message, check below....There are some mismatch with names of uno in pip3, did not know it. In pip3 uno is totally different library.so now please remove uno using pip3# pip3 uninstall unoThen make sure installing uno using aptitude# apt install python3-unoThen should be fine using aeroo-docsBR,Kaspars2019. gada 13. dec. 19:59, lbertran <notifications@git

[2019-12-13 19:18] lbertran commented on #124
Thank you very much @sraps . I tried what you told me and the output was:

[code]
Something is missing

[2019-12-24 15:09] lbertran commented on #124
Hi @sraps  how are you? Can you find something else about this issue?

Thanks you very much

[2020-10-28 07:23] #119 closed, assigned to nobody

[2021-02-19 12:42] j-zaballa opened #125 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
Hi there:

I am having trouble getting a PDF out of a .ods Calc template. No issues at all with .odt templates and PDF output.
I fount #104 issue but unfortunately the OP closed it without giving details about how they fixed it.

Already checked that only one aeroo-docs process is running. And root runs it, so I would expect no permission issues.

I'm really clueless here. Hope someone can help.